* {
    margin: 0;
    padding: 0;
    /*background-color: #8600b3;*/
}
/*
**** FORMATAÇÃO LAYOUT******
**********/
body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

#topo {
    background-color: #8600b3;
    padding: 15px;
    text-align: center;
    height: 100px;
}

#name, #menu {
    padding: 10px;
}

#name {
    width: 500px;
    float: left;
}

#menu {
   width: 500px;
   float: right;
}

#principal {
    background-color: orange;
    clear: both;
}

/*
*****FORMATAÇÃO DO MENU****
*/
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #fff;
    padding: 8px 12px;
}

a:hover {
    color: #8600b3;
    background-color: white;

}

/*****
******FORMATAÇÃO GERAL******
****/

h1 {
    color: white;
    font-size: 4.5em;
    font-family: Harrington;
    text-shadow: 3px 3px 1px black;
}